* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.loGo {
  background-color: #389cca;
  border: solid #d4d436; }

.miMenu {
  background-color: #141414;
  border: solid #d4d436; }
  .miMenu .miTarjeta {
    background-color: #389cca;
    padding-bottom: 20px;
    border: solid #d4d436;
    box-shadow: 0px 1px 10px #e2f104f8;
    cursor: default;
    transition: all 400ms ease; }
    .miMenu .miTarjeta:hover {
      box-shadow: 2px 2px 2px 10px #e2f104f8;
      transform: translateY(-3%); }
    .miMenu .miTarjeta .tiTulo2 {
      margin-top: 10px;
      box-shadow: 2px 2px 2px 2px #141414; }
    .miMenu .miTarjeta .imaGen {
      width: 400px;
      height: 400px;
      border: solid #d4d436; }
    .miMenu .miTarjeta .boton1 {
      border-radius: 5px;
      display: inline-block;
      padding: 5px 10px;
      margin-top: 20px;
      text-decoration: none;
      font-size: 20px;
      color: #141414;
      background-color: #e2f104f8;
      box-shadow: 0px 1px 10px #e2f104f8; }
    .miMenu .miTarjeta .boton2 {
      border-radius: 5px;
      display: inline-block;
      padding: 5px 10px;
      margin-top: 20px;
      text-decoration: none;
      font-size: 20px;
      color: #141414;
      background-color: #e2f104f8;
      box-shadow: 0px 1px 10px #e2f104f8; }
    .miMenu .miTarjeta .boton3 {
      border-radius: 5px;
      display: inline-block;
      padding: 5px 10px;
      margin-top: 20px;
      text-decoration: none;
      font-size: 20px;
      color: #141414;
      background-color: #e2f104f8;
      box-shadow: 0px 1px 10px #e2f104f8; }
    .miMenu .miTarjeta .boton4 {
      border-radius: 5px;
      display: inline-block;
      padding: 5px 10px;
      margin-top: 20px;
      text-decoration: none;
      font-size: 20px;
      color: #141414;
      background-color: #e2f104f8;
      box-shadow: 0px 1px 10px #e2f104f8; }

.plantel_completo {
  background-color: black; }
  .plantel_completo .posicion {
    padding: 20px;
    font-size: 30px;
    color: #ffff00; }
  .plantel_completo .jugadores {
    align-items: center;
    background-color: #389cca;
    padding-bottom: 20px;
    border: solid #d4d436;
    box-shadow: 0px 1px 10px #e2f104f8;
    cursor: default;
    transition: all 400ms ease; }
    .plantel_completo .jugadores:hover {
      transform: translateY(-3%); }
    .plantel_completo .jugadores .foto_jugador {
      width: 300px;
      height: 350px; }
    .plantel_completo .jugadores .nombre_jugador {
      font-size: 20px;
      text-align: center; }

.secCion {
  border: solid yellow;
  background-color: #141414; }

.miFormulario {
  background-color: #389cca;
  border: solid yellow;
  margin-top: 10px;
  margin-right: 10px; }

.imgFormu {
  border: solid yellow;
  margin-left: 75px;
  margin-top: 50px; }

.textFormu {
  font-size: 20px;
  color: #141414; }

footer {
  background-color: #25858b;
  border: 5px solid yellow; }
  footer .seguir {
    margin: 20px;
    padding: 20px; }
    footer .seguir h3 {
      font-size: 30px;
      text-align: center;
      color: yellow; }
  footer .redesSociales {
    margin: 30px;
    padding: 30px;
    font-size: 50px;
    color: yellow;
    text-align: center; }
