* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.loGo {
  background-color: #389cca;
  border: 5px solid #d4d436;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .loGo .tituloPrincipal {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    padding-bottom: 30px; }
  .loGo .escudo {
    width: 300px;
    height: 250px; }

.miMenu {
  padding-bottom: 30px;
  background-color: #141414;
  border-left: #d4d436 solid 5px;
  border-right: #d4d436 solid 5px; }
  .miMenu .titulo_menu {
    padding-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    max-width: 100%;
    font-size: 50px;
    font-family: fantasy;
    color: yellow;
    text-align: center; }
  .miMenu .miTarjeta {
    background-color: #389cca;
    padding-bottom: 20px;
    border: solid #d4d436;
    box-shadow: 0px 1px 10px #e2f104f8;
    cursor: default;
    transition: all 400ms ease; }
    .miMenu .miTarjeta:hover {
      box-shadow: 2px 2px 2px 10px #e2f104f8;
      transform: translateY(-3%); }
    .miMenu .miTarjeta .tiTulo2 {
      margin-top: 10px;
      box-shadow: 2px 2px 2px 2px #141414; }
    .miMenu .miTarjeta .imaGen {
      width: 400px;
      height: 400px;
      border: solid #d4d436; }
    .miMenu .miTarjeta .boton1 {
      border-radius: 5px;
      display: inline-block;
      padding: 5px 10px;
      margin-top: 20px;
      text-decoration: none;
      font-size: 20px;
      color: #141414;
      background-color: #e2f104f8;
      box-shadow: 0px 1px 10px #e2f104f8; }
    .miMenu .miTarjeta .boton2 {
      border-radius: 5px;
      display: inline-block;
      padding: 5px 10px;
      margin-top: 20px;
      text-decoration: none;
      font-size: 20px;
      color: #141414;
      background-color: #e2f104f8;
      box-shadow: 0px 1px 10px #e2f104f8; }
    .miMenu .miTarjeta .boton3 {
      border-radius: 5px;
      display: inline-block;
      padding: 5px 10px;
      margin-top: 20px;
      text-decoration: none;
      font-size: 20px;
      color: #141414;
      background-color: #e2f104f8;
      box-shadow: 0px 1px 10px #e2f104f8; }
    .miMenu .miTarjeta .boton4 {
      border-radius: 5px;
      display: inline-block;
      padding: 5px 10px;
      margin-top: 20px;
      text-decoration: none;
      font-size: 20px;
      color: #141414;
      background-color: #e2f104f8;
      box-shadow: 0px 1px 10px #e2f104f8; }

.plantel_completo {
  background-color: #141414; }
  .plantel_completo .posicion {
    padding: 20px;
    font-size: 30px;
    color: #ffff00; }
  .plantel_completo .jugadores {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #389cca;
    padding-bottom: 20px;
    border: solid #d4d436;
    box-shadow: 0px 1px 10px #e2f104f8;
    cursor: default;
    transition: all 400ms ease; }
    .plantel_completo .jugadores:hover {
      transform: translateY(-3%); }
    .plantel_completo .jugadores .foto_jugador {
      max-width: 100%;
      height: 450px;
      margin-top: -40px;
      margin-bottom: -50px; }
    .plantel_completo .jugadores .nombre_jugador {
      border-top: #ffff00 solid;
      font-family: 'Bangers', cursive;
      font-size: 35px; }
    .plantel_completo .jugadores h4 {
      font-family: 'Black Ops One', cursive;
      font-size: 40px; }

.titulo_menu {
  padding-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  max-width: 100%;
  font-size: 50px;
  font-family: fantasy;
  color: yellow;
  text-align: center; }

.cajaSeccion {
  border: 5px solid #d4d436;
  background-color: #141414; }

.miFormulario {
  background-color: #389cca;
  border: solid #d4d436;
  margin-top: 10px;
  margin-right: 10px; }

.textFormu {
  font-size: 20px;
  color: #141414; }

.contenedor_noticias {
  background-color: #141414;
  border: 5px solid #d4d436; }
  .contenedor_noticias h2 {
    padding-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    max-width: 100%;
    font-size: 50px;
    font-family: fantasy;
    color: yellow;
    text-align: center; }
  .contenedor_noticias h3 {
    max-width: 100%;
    margin: 10px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellow;
    text-align: center; }
  .contenedor_noticias .contenedor_articulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around; }
    .contenedor_noticias .contenedor_articulos .noticia {
      max-width: 100%;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #389cca;
      width: 500px;
      border: 5px solid yellow;
      box-sizing: border-box; }
      .contenedor_noticias .contenedor_articulos .noticia h4 {
        padding: 30px;
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: yellow; }
      .contenedor_noticias .contenedor_articulos .noticia .tituloNoticia {
        margin: auto;
        font-family: 'Permanent Marker', cursive;
        color: yellow;
        font-size: 40px; }
      .contenedor_noticias .contenedor_articulos .noticia p {
        padding: 30px;
        font-size: 30px;
        font-family: 'Bangers', cursive;
        color: black; }
      .contenedor_noticias .contenedor_articulos .noticia img {
        width: 350px;
        height: 300px;
        border: 2px solid yellow; }
      .contenedor_noticias .contenedor_articulos .noticia button {
        padding: 10px;
        margin: 10px;
        font-size: 20px;
        background-color: yellow;
        border: 2px solid yellow;
        border-radius: 2px;
        color: black;
        cursor: pointer;
        box-shadow: 0px 1px 10px #e2f104f8; }
    .contenedor_noticias .contenedor_articulos .noticia2 {
      max-width: 100%;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #389cca;
      width: 500px;
      border: 5px solid yellow;
      box-sizing: border-box; }
      .contenedor_noticias .contenedor_articulos .noticia2 h4 {
        padding: 30px;
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: yellow; }
      .contenedor_noticias .contenedor_articulos .noticia2 p {
        padding: 30px;
        font-size: 30px;
        font-family: 'Bangers', cursive;
        color: yellow; }
      .contenedor_noticias .contenedor_articulos .noticia2 img {
        width: 350px;
        height: 300px;
        border: 2px solid yellow; }
      .contenedor_noticias .contenedor_articulos .noticia2 button {
        padding: 10px;
        margin: 10px;
        font-size: 20px;
        background-color: yellow;
        border: 2px solid yellow;
        border-radius: 2px;
        color: black;
        cursor: pointer;
        box-shadow: 0px 1px 10px #e2f104f8; }
    .contenedor_noticias .contenedor_articulos .noticia3 {
      max-width: 100%;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #389cca;
      width: 500px;
      border: 5px solid yellow;
      box-sizing: border-box; }
      .contenedor_noticias .contenedor_articulos .noticia3 h4 {
        padding: 30px;
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: yellow; }
      .contenedor_noticias .contenedor_articulos .noticia3 p {
        padding: 30px;
        font-size: 30px;
        font-family: 'Bangers', cursive;
        color: yellow; }
      .contenedor_noticias .contenedor_articulos .noticia3 img {
        width: 350px;
        height: 300px;
        border: 2px solid yellow; }
      .contenedor_noticias .contenedor_articulos .noticia3 button {
        padding: 10px;
        margin: 10px;
        font-size: 20px;
        background-color: yellow;
        border: 2px solid yellow;
        border-radius: 2px;
        color: black;
        cursor: pointer;
        box-shadow: 0px 1px 10px #e2f104f8; }
    .contenedor_noticias .contenedor_articulos .noticia4 {
      max-width: 100%;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #389cca;
      width: 500px;
      border: 5px solid yellow;
      box-sizing: border-box; }
      .contenedor_noticias .contenedor_articulos .noticia4 h4 {
        padding: 30px;
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: yellow; }
      .contenedor_noticias .contenedor_articulos .noticia4 p {
        padding: 30px;
        font-size: 30px;
        font-family: 'Bangers', cursive;
        color: yellow; }
      .contenedor_noticias .contenedor_articulos .noticia4 img {
        width: 350px;
        height: 300px;
        border: 2px solid yellow; }
      .contenedor_noticias .contenedor_articulos .noticia4 button {
        padding: 10px;
        margin: 10px;
        font-size: 20px;
        background-color: yellow;
        border: 2px solid yellow;
        border-radius: 2px;
        color: black;
        cursor: pointer;
        box-shadow: 0px 1px 10px #e2f104f8; }

.sobreNosotros {
  background-color: #141414;
  border: 5px solid #d4d436;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sobreNosotros .titulo_menu {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    max-width: 100%;
    font-size: 50px;
    font-family: fantasy;
    color: yellow;
    text-align: center; }
  .sobreNosotros .cajaImagen {
    width: 650px;
    height: auto;
    margin: 30px; }
    .sobreNosotros .cajaImagen .imgNosotros {
      box-sizing: border-box;
      width: 100%;
      height: auto;
      border: 5px solid #d4d436; }
  .sobreNosotros .cajaParrafo {
    margin: 30px;
    padding: 30px;
    width: 600px;
    height: auto;
    background-color: #389cca;
    border: 5px solid #d4d436; }
    .sobreNosotros .cajaParrafo p {
      margin-top: 5px;
      font-size: 20px;
      font-family: 'Bangers', cursive;
      text-align: left; }
  @media (max-width: 425px) {
    .sobreNosotros .cajaImagen {
      width: 350px; }
    .sobreNosotros .cajaParrafo {
      width: 300px;
      text-align: center; } }

footer {
  background-color: #389cca;
  border: #d4d436 solid 5px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  footer .seguir {
    margin: 5px;
    padding: 5px; }
    footer .seguir h3 {
      font-size: 30px;
      text-align: center;
      color: yellow; }
  footer .redesSociales {
    padding: 30px;
    font-size: 50px;
    text-align: center; }
    footer .redesSociales .redes_ico {
      text-decoration: none;
      color: yellow; }
  footer .escudo {
    width: 200px;
    height: 150px; }
