footer{
    background-color: rgb(37, 133, 139);
    border: 5px solid yellow;
        .seguir{
            margin: 20px;
            padding: 20px;
            
            h3{
                font-size: 30px;
                text-align: center;
                color: yellow;
            }
        }
        .redesSociales{
            margin: 30px;
            padding: 30px;
            font-size: 50px;
            color: yellow;
            text-align: center;
            
        }


}
