footer{
    background-color: $fondo1;
    border: 5px solid yellow;

        .seguir{
            margin: 20px;
            padding: 20px;
            
            h3{
                font-size: 30px;
                text-align: center;
                color: yellow;
            }
        }
        .redesSociales{
            margin: 30px;
            padding: 30px;
            text-decoration: none;
            font-size: 50px;
            color: yellow;
            text-align: center;
            
            
        }


}
