footer{
    background-color: $fondo1;
    border: $bordes solid 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

        .seguir{
            margin: 5px;
            padding: 5px;
            
            h3{
                font-size: 30px;
                text-align: center;
                color: yellow;
            }
        }
        .redesSociales{
            padding: 30px;
            font-size: 50px;
            text-align: center;
             .redes_ico{
                text-decoration: none;
                color: yellow;
             }
            
        }

        .escudo{
            width: 200px;
            height: 150px;
            
         }

       

        


}
