.miMenu{
    background-color: $fondo2;
    border: solid $bordes;
        .miTarjeta{
            background-color: $fondo1; 
            padding-bottom: 20px;   
            border: solid $bordes;
            box-shadow: 0px 1px 10px $sombras;
            cursor:default;
            transition: all 400ms ease;
            &:hover{
                box-shadow: 2px 2px 2px 10px $sombras;
                transform: translateY(-3%);
            }
                .tiTulo2 {
                    margin-top: 10px;
                    box-shadow: 2px 2px 2px 2px #141414;
                        }            
                .imaGen{
                    width: 400px;
                    height: 400px;
                    border: solid $bordes;
                    }
                .boton{    
                        border-radius: 5px;
                        display: inline-block;
                        padding: 5px 10px;
                        margin-top: 20px;
                        text-decoration: none;
                        font-size: 20px;
                        color: #141414;
                        background-color:$sombras;
                        box-shadow: 0px 1px 10px $sombras;
                    
                    }
                            
                }
        }