.contenedor_noticias{
    background-color: $fondo2;
    border: 5px solid $bordes;
        h2{
            padding-top: 40px;
            margin-bottom: 40px;
            display: flex;
            justify-content: center;
            max-width: 100%;
            font-size: 50px;
            font-family: fantasy;
            color: yellow;
            text-align: center;
        }
        h3{
            max-width: 100%;  
            margin: 10px;
            font-size: 50px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: yellow;
            text-align: center;
        }
        .contenedor_articulos{        
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: space-around;
                .noticia{
                    max-width: 100%;
                    margin-bottom: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: $fondo1;
                    width: 500px;
                    border: 5px solid yellow;
                    box-sizing: border-box;  
                        h4{
                            padding: 30px;
                            font-size: 50px;
                            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                            color: yellow;
                        }
                        .tituloNoticia{
                            margin: auto;
                            font-family: 'Permanent Marker', cursive;
                            color: yellow;
                            font-size: 40px ;

                        }
                        p{
                            padding: 30px;
                            font-size: 30px;
                            font-family: 'Bangers', cursive;
                            color: black;
                        }
                        img{
                            width: 350px;
                            height: 300px;
                            border: 2px solid yellow;
                        }
                        button{
                            padding: 10px;
                            margin: 10px;
                            font-size: 20px;
                            background-color: yellow;
                            border: 2px solid yellow;
                            border-radius: 2px;
                            color: black;
                            cursor: pointer;
                            box-shadow: 0px 1px 10px $sombras;
                        }
                    }
                    .noticia2{
                        max-width: 100%;
                        margin-bottom: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: $fondo1;
                        width: 500px;
                        border: 5px solid yellow;
                        box-sizing: border-box;   
                            h4{
                                padding: 30px;
                                font-size: 50px;
                                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                color: yellow;
                            }
                            p{
                                padding: 30px;
                                font-size: 30px;
                                font-family: 'Bangers', cursive;
                                color: yellow;
                            }
                            img{
                                width: 350px;
                                height: 300px;
                                border: 2px solid yellow;
                            }
                            button{
                                padding: 10px;
                                margin: 10px;
                                font-size: 20px;
                                background-color: yellow;
                                border: 2px solid yellow;
                                border-radius: 2px;
                                color: black;
                                cursor: pointer;
                                box-shadow: 0px 1px 10px $sombras;
                            }
                        }
                        .noticia3{
                            max-width: 100%;
                            margin-bottom: 20px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            background-color: $fondo1;
                            width: 500px;
                            border: 5px solid yellow;
                            box-sizing: border-box;
                                h4{
                                    padding: 30px;
                                    font-size: 50px;
                                    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                    color: yellow;
                                }
                                p{
                                    padding: 30px;
                                    font-size: 30px;
                                    font-family: 'Bangers', cursive;
                                    color: yellow;
                                }
                                img{
                                    width: 350px;
                                    height: 300px;
                                    border: 2px solid yellow;
                                }
                                button{
                                    padding: 10px;
                                    margin: 10px;
                                    font-size: 20px;
                                    background-color: yellow;
                                    border: 2px solid yellow;
                                    border-radius: 2px;
                                    color: black;
                                    cursor: pointer;
                                    box-shadow: 0px 1px 10px $sombras;
                                }
                            }
                            .noticia4{
                                max-width: 100%;
                                margin-bottom: 20px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                background-color: $fondo1;
                                width: 500px;
                                border: 5px solid yellow;
                                box-sizing: border-box;
                                    h4{
                                        padding: 30px;
                                        font-size: 50px;
                                        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                        color: yellow;
            
                                    }
                                    p{
                                        padding: 30px;
                                        font-size: 30px;
                                        font-family: 'Bangers', cursive;
                                        color: yellow;
                                    }
                                    img{
                                        width: 350px;
                                        height: 300px;
                                        border: 2px solid yellow;             
                                    }
                                    button{
                                        padding: 10px;
                                        margin: 10px;
                                        font-size: 20px;
                                        background-color: yellow;
                                        border: 2px solid yellow;
                                        border-radius: 2px;
                                        color: black;
                                        cursor: pointer;
                                        box-shadow: 0px 1px 10px $sombras;           
                                    }
                                }           
        }
        
}