.plantel_completo{
    background-color: black;
    
    .posicion{    
        padding: 20px;
        font-size: 30px;
        color: #ffff00;
    }
    .jugadores{
       
       
        align-items: center;
        background-color: $fondo1; 
        padding-bottom: 20px;   
        border: solid $bordes;
        box-shadow: 0px 1px 10px $sombras;
        cursor:default;
        transition: all 400ms ease;
        &:hover{
            transform: translateY(-3%);      
        }
        .foto_jugador{
           
            width: 300px;
            height: 350px;        
        }
        .nombre_jugador{
            font-size: 20px;
            text-align: center;
        }
        
    
                        
            }
    
}
