.plantel_completo{
    background-color: $fondo2;
    
    .posicion{    
        padding: 20px;
        font-size: 30px;
        color: #ffff00;
    }
    .jugadores{
        display: flex;
        flex-direction: column;
        align-items: center;        
        background-color: $fondo1; 
        padding-bottom: 20px;   
        border: solid $bordes;
        box-shadow: 0px 1px 10px $sombras;
        cursor:default;
        transition: all 400ms ease;
        &:hover{
            transform: translateY(-3%);      
        }
        .foto_jugador{           
            max-width: 100%;
            height: 450px;
            margin-top: -40px;
            margin-bottom: -50px;          
        }
        .nombre_jugador{
            border-top: #ffff00 solid ;
            font-family: 'Bangers', cursive;
            font-size: 35px;
        }
        h4{
            font-family: 'Black Ops One', cursive;
            font-size: 40px;
        }
    
                        
            }
    
}
