.sobre_nosotros{
    background-color: $fondo2;
    display: flex;
    flex-direction: column;
    align-items: center;
   

        .titulo_menu{
                                  
            display: flex;
            justify-content: center;
            max-width: 100%;
            font-size: 75px;
            font-family: fantasy;
            color: yellow;
            text-align: center;
        }
        
        .texto_nosotros{
            max-width: 100%;
            padding: 50px;
            display: flex;
            background-color: $fondo1;
            width: 750px;
            border: 5px solid yellow;
            font-size: 30px;
            color: yellow;
        }

        .img_nosotros1{
            
             .img10{
                max-width: 100%;
             }
        }
      
}