.sobreNosotros{
    background-color: $fondo2;
    border: 5px solid $bordes;
    display: flex;
    flex-direction: column;
    align-items: center;
        .titulo_menu{
            margin-top: 20px;
            display: flex;
            justify-content: center;
            max-width: 100%;
            font-size: 50px;
            font-family: fantasy;
            color: yellow;
            text-align: center;
        }
        .cajaImagen{
            width: 650px;
            height: auto;
            margin: 30px;
            .imgNosotros{
                box-sizing: border-box;
                width: 100%;
                height: auto;
                border: 5px solid $bordes;             
             }
        }
        .cajaParrafo{
            margin: 30px;
            padding: 30px;
            width: 600px;
            height: auto;
            background-color: $fondo1;
            border: 5px solid $bordes;
                p{
                    margin-top: 5px;
                    font-size: 20px;
                    font-family: 'Bangers', cursive;
                    text-align: left;
                } 
        }
        @media  (max-width: 425px) {

            .cajaImagen{
                width: 350px;
            }
            .cajaParrafo{   
                width: 300px ;
                text-align: center;
                 
            }    
}  


}


