.secCion{
    border: solid yellow;
    background-color: #141414;
}

.miFormulario{
    background-color: #389cca;
    border: solid yellow;
    margin-top: 10px;
    margin-right: 10px;

}

.imgFormu{
    
    border: solid yellow;
    margin-left: 75px;
    margin-top: 50px;

}
    
.textFormu{
    font-size: 20px;
    color: #141414;
}
